savease_web_app 05-10-2019/saveasze/Web References/localhost/USSD_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://savease.ng/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://savease.ng/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://savease.ng/">
      <s:element name="USSDInput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="USSDInputResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USSDInputResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="USSDPost">
        <s:complexType />
      </s:element>
      <s:element name="USSDPostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USSDPostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="USSDInputSoapIn">
    <wsdl:part name="parameters" element="tns:USSDInput" />
  </wsdl:message>
  <wsdl:message name="USSDInputSoapOut">
    <wsdl:part name="parameters" element="tns:USSDInputResponse" />
  </wsdl:message>
  <wsdl:message name="USSDPostSoapIn">
    <wsdl:part name="parameters" element="tns:USSDPost" />
  </wsdl:message>
  <wsdl:message name="USSDPostSoapOut">
    <wsdl:part name="parameters" element="tns:USSDPostResponse" />
  </wsdl:message>
  <wsdl:message name="USSDInputHttpGetIn">
    <wsdl:part name="uname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="USSDInputHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="USSDPostHttpGetIn" />
  <wsdl:message name="USSDPostHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="USSDInputHttpPostIn">
    <wsdl:part name="uname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="USSDInputHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="USSDPostHttpPostIn" />
  <wsdl:message name="USSDPostHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="USSD_ServiceSoap">
    <wsdl:operation name="USSDInput">
      <wsdl:input message="tns:USSDInputSoapIn" />
      <wsdl:output message="tns:USSDInputSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="USSDPost">
      <wsdl:input message="tns:USSDPostSoapIn" />
      <wsdl:output message="tns:USSDPostSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="USSD_ServiceHttpGet">
    <wsdl:operation name="USSDInput">
      <wsdl:input message="tns:USSDInputHttpGetIn" />
      <wsdl:output message="tns:USSDInputHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="USSDPost">
      <wsdl:input message="tns:USSDPostHttpGetIn" />
      <wsdl:output message="tns:USSDPostHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="USSD_ServiceHttpPost">
    <wsdl:operation name="USSDInput">
      <wsdl:input message="tns:USSDInputHttpPostIn" />
      <wsdl:output message="tns:USSDInputHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="USSDPost">
      <wsdl:input message="tns:USSDPostHttpPostIn" />
      <wsdl:output message="tns:USSDPostHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="USSD_ServiceSoap" type="tns:USSD_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="USSDInput">
      <soap:operation soapAction="http://savease.ng/USSDInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="USSDPost">
      <soap:operation soapAction="http://savease.ng/USSDPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="USSD_ServiceSoap12" type="tns:USSD_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="USSDInput">
      <soap12:operation soapAction="http://savease.ng/USSDInput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="USSDPost">
      <soap12:operation soapAction="http://savease.ng/USSDPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="USSD_ServiceHttpGet" type="tns:USSD_ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="USSDInput">
      <http:operation location="/USSDInput" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="USSDPost">
      <http:operation location="/USSDPost" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="USSD_ServiceHttpPost" type="tns:USSD_ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="USSDInput">
      <http:operation location="/USSDInput" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="USSDPost">
      <http:operation location="/USSDPost" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="USSD_Service">
    <wsdl:port name="USSD_ServiceSoap" binding="tns:USSD_ServiceSoap">
      <soap:address location="http://localhost:28265/USSD_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="USSD_ServiceSoap12" binding="tns:USSD_ServiceSoap12">
      <soap12:address location="http://localhost:28265/USSD_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="USSD_ServiceHttpGet" binding="tns:USSD_ServiceHttpGet">
      <http:address location="http://localhost:28265/USSD_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="USSD_ServiceHttpPost" binding="tns:USSD_ServiceHttpPost">
      <http:address location="http://localhost:28265/USSD_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>